annotated-types==0.7.0
fastapi==0.114.1
joblib==1.4.2
jupyterlab==4.2.5
lightgbm==4.5.0
loguru==0.7.2
numpy==2.1.1
nvidia-nccl-cu12==2.23.4
psycopg==3.2.1
psycopg-binary==3.2.1
pydantic==2.9.1
pydantic_core==2.23.3
scikit-learn==1.5.2
uvicorn==0.30.6
